﻿@model IEnumerable<InvoicingSystem.Models.Parking>

@{
    ViewBag.Title = "List of User Parkings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-headline">Parkings List</h2>

@*<p>
    @Html.ActionLink("Insert new parking", "Create")
</p>*@

<table class="table">
    <tr>
        <th>
            Start Date
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Date
        </th>
        <th>
            End Time
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ 
                    var startDate = item.ParkingStartTime.ToShortDateString();
                }
                @Html.DisplayFor(modelItem => startDate)
            </td>
            <td>
                @{ 
                    var startTime = item.ParkingStartTime.ToShortTimeString();
                }
                @Html.DisplayFor(modelItem => startTime)
            </td>
            <td>
                @{ 
                    var endDate = item.ParkingEndTime.ToShortDateString();
                }
                @Html.DisplayFor(modelItem => endDate)
            </td>
            <td>
                @{ 
                    var endTime = item.ParkingEndTime.ToShortTimeString();
                }
                @Html.DisplayFor(modelItem => endTime)
            </td>
        </tr>
    }

    <tr>
        <td>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </td>
    </tr>

</table>