﻿@model IEnumerable<InvoicingSystem.Models.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-headline">Welcome!</h2>

<p class="body-content">
    Active user is: @ViewBag.User <br /> <br />

    Change customer status:<br />
    <input type="button" onclick="location.href = '@Url.Action("Index", new { id = @ViewBag.UserId })'" value="Status: @ViewBag.Status" />
</p>




