﻿@model InvoicingSystem.Models.Invoice

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-headline">Create</h2>

@if (ViewBag.CurrentMonth == null)
{
    int counter = 0;

    <h4>Choose period:</h4>
    <table class="table-condensed">
        @foreach (var item in ViewBag.MonthNames)
        {
            counter++;
            <tr>
                <td>
                    @item
                </td>
                <td>
                    @if (InvoicingSystem.Models.Invoice.InvoicesList.Where(x => x.InvoicePeriod == item).SingleOrDefault() != null)
                    {

                        @Html.ActionLink("Invoice exists", "Details", new { id = counter })

                    }
                    else
                    {
                        @Html.ActionLink("Create invoice", "Create", new { month = item })
                    }

                </td>
            </tr>
        }
    </table>
}

else
{

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Invoice</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceId, new { htmlAttributes = new { @readonly = true, @class = "form-control", @Value = ViewBag.CurrentId } })
                @Html.ValidationMessageFor(model => model.InvoiceId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoicePeriod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoicePeriod, new { htmlAttributes = new { @readonly = true, @class = "form-control", @Value = ViewBag.CurrentMonth } })
                @Html.ValidationMessageFor(model => model.InvoicePeriod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Day parking", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox((string)ViewBag.TotalParkingTime, (string)ViewBag.TotalParkingTime + " min", new { @readonly = true, @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Evening and night parking", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox((string)ViewBag.TotalParkingTimeNight, (string)ViewBag.TotalParkingTimeNight + " min", new { @readonly = true, @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalInvoiceAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalInvoiceAmount, new { htmlAttributes = new { @readonly = true, @class = "form-control", @Value = ViewBag.Fee } })
                @Html.ValidationMessageFor(model => model.TotalInvoiceAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Creation date has to be for when you click "create" button, not when you open the create page (Lauri)*@
            @Html.LabelFor(model => model.DateInvoiceCreated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateInvoiceCreated, new { htmlAttributes = new { @readonly = true, @class = "form-control", @Value = DateTime.Now } })
                @Html.ValidationMessageFor(model => model.DateInvoiceCreated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

}

<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
