﻿@model InvoicingSystem.Models.InvoiceParkingViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-headline">Details</h2>

<div>

    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceObject.InvoicePeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceObject.InvoicePeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceObject.TotalInvoiceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceObject.TotalInvoiceAmount)€
        </dd>

        @if (Model.InvoiceObject.InvoiceUser.UserIsPremium == true)
        {
            <dt>
                Premium monthly fee
            </dt>

            <dd>
                @Model.ParkingObject.Select(x => x.ParkingHouse.PremiumMonthlyFee).Take(1).SingleOrDefault()€                
            </dd>
        }        
    </dl>
</div>
<hr />

<div>
    <h3>Parkings in this period</h3>
    <table class="table">
        <tr>
            <th>
                Parking started
            </th>
            <th>
                Parking ended
            </th>
        </tr>

        @foreach (var parking in Model.ParkingObject)
        {
            if (parking.ParkingStartTime.ToString("MMMM") == Model.InvoiceObject.InvoicePeriod)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(p => parking.ParkingStartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(p => parking.ParkingEndTime)
                    </td>
                </tr>
            }
        }

    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceObject.InvoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
