﻿@model IEnumerable<InvoicingSystem.Models.Invoice>

@{
    ViewBag.Title = "List of User Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-headline">Invoices</h2>

<p>
    @Html.ActionLink("Create new invoice", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </th>
        <th>
            Year
        </th>
        <th>
            Period
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInvoiceAmount)
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInvoiceCreated.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoicePeriod)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalInvoiceAmount)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.InvoiceId })
            </td>
        </tr>
    }

    <tr>
        <td>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </td>
    </tr>

</table>